body {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Add custom styles for Materialize components here */
/* Example: Adjusting padding or margins to prevent overlapping */
.input-field .prefix ~ .materialize-textarea {
    margin-left: 3rem;
}

.input-field .materialize-textarea:focus {
    margin-left: 0;
    box-shadow: 0 1px 0 0 #26a69a;
}

/* Ensuring the label floats above on focus */
.input-field label.active {
    transform: translateY(-14px) scale(0.8);
}

.materialize-textarea {
    max-height: 16rem; /* Adjust based on your preference */
    overflow-y: auto; /* Makes it scrollable when content exceeds max-height */
    font-family: 'Courier New', Courier, monospace;
    font-size: small !important;
}
